.jumbotron {
    background-color: rgba(0, 128, 0, 0.603);
    
}

body {
    background-color: rgba(251, 255, 0, 0.603);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Notable', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px green;
    text-align: center;
}

h2 {
    font-family: 'Notable', sans-serif;
    font-family: 'Black And White Picture', sans-serif;
    color: rgba(0, 128, 0, 0.603);
    text-align: center;
}

form {
    font-family: 'Notable', sans-serif;
    font-family: 'Black And White Picture', sans-serif;
    color: rgba(0, 128, 0, 0.603);
    text-align: center;
}

#form {
    align-content: center;
    text-align: center;
}

#burgers, #burger, #burgers-devoured {
    font-family: 'Notable', sans-serif;
    font-family: 'Black And White Picture', sans-serif;
    color: black;
    text-align: center;
}